.header__menu{
    display: flex;
    background-color: #fdfdfd;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.menu__lista{
    display: flex;
}

.menu__link{
    color: #969696;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.menu__link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.menu__logo{
    height: 3rem;
    width: auto;
}

@media screen and (max-width: 368px){

  :root{
    font-size: 10px;
  }
  
  .header__menu{
    order: -1;
  }
  
  .menu__lista{
    flex-direction: column;
    display: none;
  }
  
  .menu__logo{
    justify-content: center;
  }
  
}